.news-summary {
  display: inline-flex;
  background-color: #fff;
  padding: 42px 22px 36px 26px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
  margin-bottom: 29px;

  .item {
    min-width: 168px;

    .label {
      color: #989898;
    }

    .value {
      color: #777777;
      font-size: 32px;
    }
  }
}
