<form name="addNewsForm" class="add-news" ng-submit="$ctrl.submit()">
  <div class="dialog-title">News</div>

  <input
    type="text"
    ng-class="{
      'title-field': true,
      'invalid': (addNewsForm.newsTitle.$touched && !addNewsForm.newsTitle.$valid)
    }"
    placeholder="Add title"
    ng-model="$ctrl.title"
    name="newsTitle"
    required
  />

  <textarea
    ng-class="{
      'content-field': true,
      'invalid': (addNewsForm.newsContent.$touched && !addNewsForm.newsContent.$valid)
    }"
    placeholder="Add content"
    ng-model="$ctrl.content"
    name="newsContent"
    required
  ></textarea>

  <div>
    <button type="submit" class="save_btn" ng-disabled='!addNewsForm.$valid'>Save</button>
    <button type="button" class="cancel_btn" ng-click="$ctrl.closeHandler()">Cancel</button>
  </div>
</form>
