@import '../../constants';

.add-news {
  position: fixed;
  box-sizing: border-box;
  left: 80px;
  bottom: 30px;
  width: 430px;
  height: 300px;
  background-color: $white-color;
  box-shadow: 0 3px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 24px 22px;

  .dialog-title {
    font-size: 20px;
  }

  .title-field {
    margin-top: 24px;
    height: 15px;
  }

  .content-field {
    margin-top: 24px;
    height: 56px;
  }

  .title-field, .content-field {
    display: block;
    padding: 12px;
    border: 2px solid $input-border-color;
    border-radius: 3px;
    width: 360px;
    font-family: $font-family;
    font-size: 14px;

    &::placeholder {
      color: #d2d2d2;
    }

    &.invalid {
      border-color: $red-color;
    }
  }

  button {
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;

    &.save_btn {
      background-color: $blue-color;
      color: $white-text-color;
      width: 122px;
      height: 40px;
      border-radius: 3px;

      &[disabled] {
        background-color: #f2f2f2;
        color: #d2d2d2;
        cursor: default;
      }

      &:not([disabled]):hover {
        background-color: $blue-hover-color;
      }
    }
  
    &.cancel_btn {
      margin-left: 26px;
      background-color: transparent;
      color: $blue-color;

      &:hover {
        color: $blue-hover-color;
        border-bottom: 1px solid $blue-hover-color;
      }
    }
  }
}
