$font-family: Arial, Helvetica, sans-serif;

$white-color: #fff;
$blue-color: #006699;
$blue-hover-color: #04537a;
$red-color: #f01e1e;
$red-hover-color: #a51919;
$white-text-color: #f4f4f4;
$white-hover-color: #d3d3d3;
$body-color: #f7f7f7;
$input-border-color: #dadada;
