@import './constants';

body {
  background-color: $body-color;
  font-family: $font-family;
  margin: 30px;
  margin-left: 80px;

  .page {
    max-width: 1600px;
  }
}

.news-list-container {
  display: inline-block;

  .add-btn-container {
    text-align: right;
  
    .add-btn {
      border: none;
      cursor: pointer;
      margin-top: 20px;
      font-size: 16px;
      background-color: $blue-color;
      color: $white-text-color;
      width: 180px;
      height: 40px;
      border-radius: 3px;

      &:hover {
        background-color: $blue-hover-color;
      }
    }
  }
}
