<!doctype html>
<html ng-app="AppModule">
<head>
  <meta charset="utf-8">
  <title>News</title>
  <script src="https://kit.fontawesome.com/b4373ffa7f.js"></script>
</head>
<body>
  <div class="page" ng-controller="MainCtrl as ctrl">
    <news-summary news='news'></news-summary>

    <div class="news-list-container">

      <news-list
        news='news'
        remove-news-handler='ctrl.removeNewsHandler'
      >
      </news-list>

      <div class="add-btn-container">
        <button class="add-btn" ng-click='ctrl.openAddNewsDialog()'>Add</button>
      </div>
    </div>

    <add-news
      ng-if='showAddNewsDialog'
      add-news-handler='ctrl.addNewsHandler'
      close-handler='ctrl.closeAddNewsDialog'
    >
    </add-news>

  </div>
</body>
</html>
