<table class="news-list-table">
  <thead>
    <tr>
      <th class={{$ctrl.getColumnClass(column)}} ng-repeat="column in $ctrl.columns" ng-if="$first">
        <div class="checkbox-all-container">
          <input
            type="checkbox"
            ng-model="$ctrl.checkedAll"
            ng-class="{'indeterminate': $ctrl.isIndeterminateCheckAllState()}"
            ng-click="$ctrl.onCheckAllClick()"
          />
          <div class="sort-by" ng-click="$ctrl.onSort(column)">{{column.header}}</div>
        </div>
      </th>
      <th class={{$ctrl.getColumnClass(column)}} ng-repeat="column in $ctrl.columns" ng-if="!$first">
        <div class="sort-by" ng-click="$ctrl.onSort(column)">{{column.header}}</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in $ctrl.rows">
      <td class={{column.className}} ng-repeat="column in $ctrl.columns" ng-if="$first">
        <label>
          <input type="checkbox" ng-model="row.checked" ng-change="$ctrl.onCheckClick(row)" />
          <span class="checkbox-title">{{column.getValue(row.news)}}</span>
        </label>
      </td>
      <td class={{column.className}} ng-repeat="column in $ctrl.columns" ng-if="!$first">
        {{column.getValue(row.news)}}
      </td>
    </tr>
  </tbody>
</table>

<remove-news
  ng-if='$ctrl.showRemoveNewsDialog'
  ok-handler='$ctrl.removeNewsCofirmed'
  close-handler='$ctrl.closeRemoveNewsDialog'
>

</remove-news>
