@import '../../constants';

.news-list-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 0px;
  table-layout: fixed;

  thead {
    background-color: #989898;

    th {
      font-size: 12px;
      font-weight: normal;
      color: #f4f4f4;
      text-align: left;
      padding: 6px 10px 6px 16px;
      border-right: 1px solid #f7f7f7;

      &.id-column {
        padding-left: 8px;
      }
    }
  }

  tbody {
    background-color: #fff;

    td {
      border-bottom: 2px solid #f7f7f7;
      text-align: left;
      padding: 10px 18px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      &.id-column {
        padding-left: 8px;

        label {
          display: flex;
          align-items: center;
          color: #006699;
          cursor: pointer;
        }
      }
    }
  }

  .id-column {
    width: 164px;
  }

  .title-column {
    width: 338px;
  }

  .content-column {
    width: 330px;
  }

  .status-column {
    width: 130px;
  }
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  height: 18px;
  width: 18px;
  color: #006699;
  border: 2px solid $input-border-color;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;

  &.indeterminate:after {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: table;
    width: 10px;
    height: 3px;
    border-width: 3px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: "";
  }

  &:not(.indeterminate):checked:after {
    box-sizing: border-box;
    transform: rotate(45deg);
    position: absolute;
    left: 4px;
    top: 1px;
    display: table;
    width: 7px;
    height: 11px;
    border-width: 3px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: "";
  }
}

.checkbox-title {
  padding-top: 2px;
  padding-left: 10px;
}

th .sort-by { 
  padding-right: 18px;
  position: relative;
  color: #f4f4f4;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.sort-by:before, .sort-by:after {
  position: absolute;
  top: 50%;
  display: block;
  width: 5px;
  height: 5px;
  border-width: 2px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  content: "";
  border-color: #adadad;
  right: 5px;
  opacity: 0.7;
}

.sort-by:before {
  transform: rotate(-135deg);
  margin-top: -6px;
}

.sort-by:after {
  transform: rotate(45deg);
  margin-top: -1px;
}

.asc {
  .sort-by:before {
    border-color: #fff;
  }
}

.desc {
  .sort-by:after {
    border-color: #fff;
  }
}

.checkbox-all-container {
  display: flex;
  align-items: center;

  .sort-by {
    flex-grow: 1;
    padding-left: 6px;
  }
}
