@import '../../constants';

.remove-news {
  position: fixed;
  left: 550px;
  bottom: 30px;

  .dialog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $red-color;
    border-radius: 4px;
    color: $white-text-color;
    padding: 6px;
    width: 769px;
 
    .message-container {
      display: flex;
      align-items: center;

      .warning-icon {
        font-size: 20px;
        margin-left: 3px;
        margin-right: 10px;
      }
    }

    button {
      border: 1px solid $white-text-color;
      border-radius: 4px;
      width: 90px;
      height: 36px;
      cursor: pointer;

      &:hover {
        border-color: $white-hover-color;
      }

      &.no-btn {
        background-color: $red-color;
        color: $white-text-color;

        &:hover {
          background-color: $red-hover-color;
        }
      }

      &.yes-btn {
        background-color: $white-text-color;
        color: $red-color;
        margin-left: 7px;

        &:hover {
          background-color: $white-hover-color;
        }
      }
    }
  }
}
