<div class="remove-news">
  <div class="dialog">
    <div class="message-container">
        <i class="fas fa-exclamation-triangle warning-icon"></i>
        <div>Do you want to delete the news?</div>
    </div>
    <div class="btn-container">
      <button class="no-btn" ng-click='$ctrl.closeHandler()'>No</button>
      <button class="yes-btn" ng-click='$ctrl.okHandler()'>Yes</button>
    </div>
  </div>
</div>
